header {
	float: left;
	width: 100%;
	height: 800px;
	padding: 295px 0 0;
	position: relative;

	h1 {
		display: inline-block;
		max-width: 700px;
	}
}

.logo {
	margin-bottom: 100px;
}

.top-header {
	position: absolute;
	top: 27px;
	left: 29px;
	font-size: 14.3px;
	color: #a2a2a2;

	img {
		margin: 0 2px;
	}
}